
.three{ height: 100vh;
	width: 100vw;
 }

 #home {
 	background: url("images/two.jpg") no-repeat center center fixed;
    display:  flex;
    justify-content: center; 
    align-items:  center;
    height: 100vh; 
    width: 100vw; 
    background-size:  cover;
}

.landing-text {
	text-align: center;
	vertical-align: middle;
}



.bolt{
	size:  large;
	display: flex;
 justify-content: center;
}
.middle{
	background-color: rgb(65,118,137,0.7);
}

.seven{
	width: 250px;
	height: 225px;
}

.sunset{
	width: 250px;
	height: 225px;
}

.contact{
	
	text-align: center;
}

.procrastinate{
    outline: solid 5px transparent;
}
.procrastinate:hover {
    outline: solid 5px lightskyblue;
    margin:  -5 px;


}
