
.three{ height: 100vh;
	width: 100vw;
 }

 #home {
 	background: url("images/two.jpg") no-repeat center center;
    display: flex;
    justify-content: center; 
    align-items:  center;
    height: 100vh; 
    width: 100vw; 
    background-size:  cover;

}	

.landing-text{
	text-align: center;
	vertical-align: middle;
	color:  white;
}

.landing-text-2{
	
	color:  white;
	text-align: center;
	vertical-align: middle;
}

.bolt{
	size:  large;
	display: flex;
 	justify-content: center;
}

.pin{
	size:  large;
	display: flex;
 	justify-content: center;
 	color: green;
}

.middle{
	background-color: rgb(65,118,137,0.7);
}

.classify{
	display: flex;
 	justify-content: center;
}

.test{
	display: flex;
 	justify-content: center;
}

.seven{
	width: 75%;
	height: 60%;
}

.sunset{
	display: flex;
	width: 65%;
	height:  110%;
}

.sanity{
	text-align:  center;
}
.contact{
	
	text-align: center;
}

.centered{
font-size: 100 px;
color:  white;
}

.gallery{
	height: 250px;
	margin-right: -60px;

}

.procrastinate{
	background: url("images/procrastinate.jpg") no-repeat center center ;
    display:  flex;
    justify-content: center; 
    align-items:  center; 
    background-size: cover;
    
    
}

.procrastinate:hover {
  	background-size: 110%; 
   border: 10px solid rgba(255,255,255,0.3);
  
}

.synergize{
	background: url("images/synergize.jpg") no-repeat center center ;
    display:  flex;
    justify-content: center; 
    align-items:  center; 
    background-size: cover;
    
   
}

.synergize:hover {
  	background-size: 110%; 
   border: 10px solid rgba(255,255,255,0.3);
 
}
.unleash{
	background: url("images/unleash.jpg") no-repeat center center ;
    display:  flex;
    justify-content: center; 
    align-items:  center; 
    background-size: cover;
    
    
}

.unleash:hover {
  	background-size: 110%; 
   border: 10px solid rgba(255,255,255,0.3);
}
